<section class="page-shell">

    <div class="section-grid">
      <article class="info-card mission-card">
        <h2 style="padding-left: 220px; color: #17402f;">OUR VISION</h2>
        <ul>
          <li>To create a world where <strong>animal health</strong> is understood.</li>
          <li>To make animal health accessible and integrated into everyday life.</li>
          <li>To empower individuals, professionals, and communities to thrive.</li>
          <li>To foster awareness, resilience, and emotional well-being.</li>
        </ul>
      </article>
      <article class="info-card vision-card">
        <h2 style="padding-left: 220px; color: #17402f;">OUR MISSION</h2>
        <ul>
          <li><strong>Advance animal health</strong> through accessible healthcare, nutrition, education, and
            technology.</li>
          <li><strong>Empower veterinary students</strong> and professionals with knowledge, skills, and opportunities
            to grow and lead.</li>
          <li><strong>Promote research and innovation</strong>, and evidence-based practices for a healthier future.
          </li>
          <li><strong>Build a strong community</strong> that collaborates, supports, and uplifts every veterinarian and
            animal caregiver.</li>
          <li><strong>Inspire awareness</strong> and responsible care for animals through impactful media and advocacy.
          </li>
          <li><strong>Leverage technology</strong> and digital platforms to connect, educate, and transform the
            veterinary ecosystem.</li>
          <li><strong>Contribute to sustainability</strong> and compassion where animals and humans thrive together.
          </li>
        </ul>

      </article>
    </div>
 
</section>